<!DOCTYPE html>
<html lang="en" ng-app='phonecatApp'>
<head>
	<meta charset="UTF-8">
	<title>My HTML File</title>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
<script src='bower_components/angular/angular.js'></script>
<script type="text/javascript" src='js/controllers.js'></script>
</head>
<body ng-controller='PhoneListCtrl'>
	
	<ul>
		<li ng-repeat='phone in phones'>
			<span>{{phone.name}}</span>
			<P>{{phone.snippet}}</P>
		</li>
	</ul>
	<p>There has {{phone.length}} phones</p>
	<p>Hello,{{name}}</p>

	<table>
		<tr><td>row numbers</td></tr>
		<tr ng-repeat='i in [0,1,2,3,4,5,6,7]'>
			<td>
				{{i}}
			</td>
		</tr>
	</table>
	<table>
		<tr>
			<td>row numbers</td>

		</tr>
		<tr ng-repeat='i in [0,1,2,3,4,5,6,7]'>
			<td>{{i+1}}</td>
		</tr>
	</table>
		<table>
		<tr>
			<td>row numbers</td>
			<td>row numbers</td>
			<td>row numbers</td>
			<td>row numbers</td>
			<td>row numbers</td>
			<td>row numbers</td>
			<td>row numbers</td>
			<td>row numbers</td>
		</tr>
		<tr ng-repeat='i in [[0,1,2,3,4,5,6,7],[0,1,2,3,4,5,6,7],[0,1,2,3,4,5,6,7],[0,1,2,3,4,5,6,7]]'>
			<td ng-repeat='j in i'>
				{{j}}
			</td>
		</tr>
	</table>
</body>
</html>